body {
  margin: 0;
  padding: 0;
  background: url("../assets/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  overflow: hidden;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.full-width {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

.top-image {
  margin-top: -10px;
}

.logo {
  width: 60px;
  margin-top: -100px;
}

.footer-image {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.leaf {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.leaf div {
  position: absolute;
  display: block;
}

.leaf div:nth-child(1) {
  top: 20%;
  animation: fall 15s linear infinite;
  animation-delay: -2s;
}

.leaf div:nth-child(2) {
  top: 70%;
  animation: fall 15s linear infinite;
  animation-delay: -4s;
}

.leaf div:nth-child(3) {
  top: 10%;
  animation: fall 20s linear infinite;
  animation-delay: -7s;
}

.leaf div:nth-child(4) {
  top: 50%;
  animation: fall 18s linear infinite;
  animation-delay: -5s;
}

.leaf div:nth-child(5) {
  top: 85%;
  animation: fall 14s linear infinite;
  animation-delay: -5s;
}

.leaf div:nth-child(6) {
  top: 15%;
  animation: fall 16s linear infinite;
  animation-delay: -10s;
}

.leaf div:nth-child(7) {
  top: 90%;
  animation: fall 15s linear infinite;
  animation-delay: -4s;
}

@keyframes fall {
  0% {
    opacity: 1;
    left: -10%;
    transform: translateY(20px) rotate(0deg);
  }

  20% {
    opacity: 0.8;
    transform: translateY(-20px) rotate(45deg);
  }

  40% {
    transform: translateY(-20px) rotate(90deg);
  }

  60% {
    transform: translateY(-20px) rotate(135deg);
  }

  80% {
    transform: translateY(-20px) rotate(180deg);
  }

  100% {
    left: 110%;
    transform: translateY(-20px) rotate(225deg);
  }
}

.leaf1 {
  transform: rotateX(180deg);
}

h2 {
  position: absolute;
  top: 40%;
  width: 100%;
  font-family: 'Courgette', cursive;
  font-size: 4em;
  text-align: center;
  transform: translateY(-50%);
  color: #fff;
}

.boot-img {
  height: 100px;
  width: 100px;
}

.boot-img-large {
  height: 120px;
  width: 120px;
}

.content {
  width: 100%;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 15%;
}

.info-text {
  color: #363131;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-weight: 600;
  align-self: flex-start;
}

.time-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  ;
}

.time-text {
  color: #363131;
  font-size: 56px;
  margin-top: -20px;
  margin-bottom: -10px;
  font-weight: 300;
  align-self: center;
}

.destination {
  font-size: 16px;
  align-self: flex-end;
}

#stats-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stats-container {
  display: flex;
  flex-direction: column;
}

.stat {
  display: flex;
}

.stat-value {
  font-size: 24px;
  line-height: 2;
  /* Set line height to 1 to prevent pushing downwards */
  margin: 0;
  /* Reset margin to prevent any additional spacing */
  padding: 0;
  /* Reset padding to prevent any additional spacing */
}

#speedValueKm,
#speedValueKnots,
#temperatureValue {
  margin-left: 2em;
  margin-right: 0.3em;
}

.aos-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#aos-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aos-item {
  display: flex;
  /* padding-left: 150px; */
}

.wave-background {
  background: url('../assets/1stwave.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 50px;
  width: 30%;
  padding-left: 10px;
}

.bt-background {
  text-align: center;
}

.btFix {
  line-height: 1.3;
}

.bt1 {
  background: url('../assets/bt1.png');
  display: flex;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 40px;
  width: 7%;
  margin-left: -20px;
  margin-top: 5px;
}

.bt2 {
  background: url('../assets/bt2.png');
  display: flex;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 60px;
  width: 7%;
  margin-left: -20px;
  margin-top: -5px;
}

.bt3 {
  background: url('../assets/bt3.png');
  display: flex;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 40px;
  width: 7%;
  margin-left: -20px;
  margin-top: 5px;
}

.bt-text {
  margin-left: 30px;
  line-height: 2;
}

#bt-fix {
  margin-top: 100px;
}

.compare-button {
  background: #ECA051;
  border: none;
  padding: 15px;
  border-radius: 40px;
  margin-left: 150px;
}


@media screen and (max-width: 683px) {
  #stats-wrapper {
    flex-direction: column;
  }

  .aos-wrapper {
    flex-direction: column;
  }

  .compare-button {
    background: #ECA051;
    border: none;
    padding: 15px;
    border-radius: 40px;
    margin-left: 0px;
    align-self: center;
  }
}